*{
    margin: 0;
    padding: 0;
}

body{
    background-color: skyblue;
}

.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}

.calculator-container{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 25%;
    border-radius: 10px;
    

    background-color: white;
    
}
.whitespace{
    background-color: black;
    height: 20%;
    width: auto;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: end;
    align-content: end;
    font-size: xx-large;
    padding: 4px;
    border: none;


}
.operator-container{
    
    height:14%;
    
    display: flex;
}
.operator-container > button{
    width: 25%;
    height: 100%;
    border: 1px solid gray;
    

    
}
.number-equal-parent-container{
    
    height: 66%;
    display: flex;
    
    
}
.number-container{
    
    
    height: 100%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.number-container > button{
    width:33.33%;
    border: 1px solid gray;
    
    
}

.equal-container{
    width: 25%;
    
    
}
.equal{
    height: 100%;
    width: 100%;
    background-color: orangered;
    border: 1px solid gray;
    font-size: 2rem;
    color: white;

}
.AC{
    
    background-color: red;
    
    color: white;
    font-size: large;

}

button{
    font-size: large;
    font-weight: 600;
    transition: .1s;
    cursor: pointer;
}
button:hover{
    transform: scale(.97);

}
